html {         
        padding: 25px 0 25px 0; }

body {
  margin-left:10%;
  margin-right:20%;
        background-color:#CCFFCC;
        text-align: left;
        font-family: 'Helvetica Neue', Helvetica;
        font-size: 16px;
        color: #600; }

a:link {text-decoration: none; color:#000}
a:visited {text-decoration: none; color:#000}
a:hover {text-decoration: underline}
a:active {text-decoration: none}


table {
        margin-left: auto;
        margin-right: auto; 
      }


.center {
        text-align: center; }

.center table {
        margin-left: auto;
        margin-right: auto;
        text-align: left; }

.post {
        margin-bottom: 35px; }
        .post h3 {
                text-align: left;
                font-size: 24px;
                font-family: 'Helvetica';
                font-weight: bold;
                margin-bottom: 25px }

        .post .meta {
                margin-top: 25px;
                border-bottom: 3px double #bbb;
                padding-top: 25px;
                padding-bottom: 25px;
                color: #606; }
