---
layout: default
title: Vigeblog
---
<html>
<body>

  <table>
    <tr valign="top">
      <td style="width:75%;">
        {% for post in site.posts %}
	        <div class="post">
            <h3><a class="cont" href="{{ post.url }}">{{ post.title }}</a></h3>

            <hr class="title">

		        <div class="body">
			        {{ post.content }}
		        </div>

		        <div class="meta">
              Posted on <a class="metalink" href="{{ post.url }}">{{ post.date | date: "%m/%d/%Y" }}</a>

		        </div>
	        </div>
        {% endfor %}
      </td>

      <td style="width:25%; text-align:center; padding-left:30px">
        <table>
          <tr>
            <div class="chunk">
              <h2>Links</h2>
              <hr class="arch">
              <hr class="arch">
              <a class="arch" href="/about.html">About</a><br />
              <a class="arch" href="https://github.com/SSundseth/ssundseth.github.com">Github for this site</a><br />
              <a class="arch" href="/feed.xml">RSS</a><br />

              <hr class="arch">
              <hr class="arch"><br />
            </div>
          </tr>
          <tr>
            <div class="chunk">
              <h2>Archive</h2>
              <hr class="arch">
              <hr class="arch">
              {% for post in site.posts %}
                <a class="arch" href="{{ post.url }}">{{ post.date | date: "%B %d, %Y" }}</a><br />
              {% endfor %}
              <hr class="arch">
              <hr class="arch"><br />
            </div>
          </tr>
          
        </table>
      </td>
    </tr>
  </table>


</body>
</html>

