h2 {
  font-family: 'Antic Slab', serif;
}
body {
  margin: 0px;
  padding: 0px;
  background-image:url('/assets/images/lightpaperfibers.png');
}
a:link, a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.header {
  height: 120px;
  text-align: center;
  background-color: #61A27F;
  font-family: 'Antic Slab', serif;
  font-size: 60pt;
  padding: 0px;
  margin: 0px;
}

.links span {
  font-size: 14pt;
  display: inline-block;
  margin: auto;
}

a.head:link, a.head:visited {
  color: #000;
}

a.head:hover {
  text-decoration: none;
}

a.cont:link, a.cont:visited {
  font-family: 'Antic Slab', serif;
  font-size: 30pt;
  color: #96B891;
}

a.list:link, a.list:visited {
  color: #61A27F;
}

a.arch:link, a.arch:visited {
  font-size: 14pt;
  color: #F9DAA8;
}


a.page:link, a.page:visited {
  font-size:14pt;
  color: #61A27F;
}

hr.title {
  color: #96B891;
  background-color: #96B891;
  height: 3px;
  border: 0;
  padding-below: 0px;
  margin-below: 0px;
}
hr.arch {
  padding-above: 0px;
  color: #E9DAA8;
  background-color: #E9DAA8;
  border: 0;
  height: 2px;
}

.wrap {
-moz-box-shadow: 0 15px 15px 10px #888;
-webkit-box-shadow: 0 15px 15px 10px #999;
box-shadow: 0 15px 8px 10px #888;
  text-align: left;
  margin-left: 27%;
  margin-right: 27%;
  font-family: 'Open Sans', sans-serif;
  font-size: 14pt;
  line-height: 30px;
}
.content {
  padding-left: 15px;
  padding-right: 15px;
}

.meta {
  font-style: italic;
  font-size: 10pt;
  padding-bottom: 40px;
}

.chunk {
  background-color: #61A27F;
  color: #E9DAA8;
}
