<!doctype html>

<head>
  <link href="/assets/stylesheets/main.css" rel="stylesheet" type="text/css" />
  <link href='http://fonts.googleapis.com/css?family=Antic+Slab' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400' rel='stylesheet' type='text/css'>
  <title>{{ page.title }}</title>
</head>
<body>
  <div class="header">
    <span style="display:inline-block; vertical-align:middle">
      <a class="head" href="/">Stefan Sundseth's Blog</a>
    </span>
  </div>

  <div class="links">
    <span style="display:inline-block; margin-left:21%">
    <a class="arch" href="/archive.html">Archive |</a>
    <a class="arch" href="/about.html">About |</a>
    <a class="arch" href="http://github.com/SSundseth/ssundseth.github.com">Github |</a>
    <a class="arch" href="/feed.xml">RSS</a>
    </span>
  </div>
  
  <div class="wrap">
    <div class="content">
      {{ content }}
    </div>
  </div>

</body>
