<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>{{ page.title }}</title>
  <meta name="author" content="Stefan Sundseth">

  <link href="/assets/stylesheets/main.css" rel="stylesheet" type="text/css" />
  <link href='http://fonts.googleapis.com/css?family=Antic+Slab' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400' rel='stylesheet' type='text/css'>

  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-34173433-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>

<body>
  <div class="header">
    <a class="head" href="/">Stefan Sundseth</a>

    <div class="links">
      <a class="arch" href="/archive.html">Blog Archive</a> |
      <a class="arch" href="/about.html">About Me</a> |
      <a class="arch" href="http://github.com/SSundseth">My Github Account</a> |
      <a class="arch" href="/resume.html">Resume</a>
    </div>
</div>

  <div class="wrap">
    <div class="content">
      {{ content }}
    </div>
  </div>

  <div class="footer">
    <a href="/feed.xml">RSS</a>
  </div>
</body>
